<div class="comp">
    <div *ngFor="let spend of spends">
        <div class="flex flex-space-between">
            <span>{{spend.heading}}</span>
            <span>on {{spend.date}}</span>
            
        </div>
        <div  *ngFor="let subspend of spend.spends.values()"  style="margin-left:5%">
            <div>{{subspend.purpose}}</div>
            <div class="flex flex-space-between">
                <span>Me - ₹ {{subspend.money}}</span>
                <span>Others - ₹ {{subspend.forOthers}} </span>
            </div>
        </div>
    </div>
</div>