.add-goal{
    width: 95%;
    height: 70px;
    padding: 2px;
    resize: vertical;
    max-height: 150px;
    min-height: 70px;
    margin: 1%;
    border-radius: 8px;
    border: 2px solid black;
    border-bottom: 2px grey solid;
    border-right: 2px grey solid;
}