<form>

  <span>{{addNotif}}</span>

    
  <span>Description</span><br>
  <textarea class="add-goal" type="text" name="Desc" placeholder="Brief your goal.." [(ngModel)]="addGoal.desc"></textarea>
  
  <div class="flex flex-space-around">
    <span>Limit Date</span>
    <input class="s-input" type="date" name="upto" placeholder="upto what " [(ngModel)]="addGoal.upto">
  </div>
  
  <div class="flex flex-space-around">
    <button type="reset" class="light">Reset</button>
    <button type="button" class="dark" (click)="addNewGoal()" >Submit</button>
  </div>

</form>