.navitemactive{
    color: #d7e6d4;
}
.navitem{
    background-color: #93aebb;
    border-color: #90A4AE;
    width: 25%;
    height: 4.3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navitem:hover{
    background-color: #CFD8DC;
}
.nav{
    display: flex;
    justify-content: center;
    margin: auto;
}