<div class="comp">

  <h3 routerLink="/add/exp" class="pointer">➕Spends</h3>
    <div class="flex flex-space-around">
      <div>
        <strong class="month-navigatiors pointer" (click)="navigateMonth('-')">⇦</strong>
        <input class="input m-input" type="month" name="month"  [(ngModel)]="month" (change)="searchSpecefic()">
        <strong class="month-navigatiors pointer" (click)="navigateMonth('+')">⇨</strong>
      </div>
    </div>
    <div>
      <select [(ngModel)]="spendCategerizer" (change)="searchSpecefic()" name="spendCateogriser">
        <option [value]="1">Category</option>
        <option [value]="2">Date</option>
      </select>
    </div>
    <app-spend  [spends]="spendsToRender" [displayType]="spendCategerizer"></app-spend>
    <hr>
    <span>Total: ₹{{total | number}}</span>
  <hr>
    
  </div>
