<form class="comp">

    <h3 routerLink="/add/exp" class="pointer">➕Spends</h3>

    <div class="flex flex-space-around">
      <div class="flex flex-vertical-center">
        <strong>🡨</strong> 
        <h4 style="margin-top: 8px;">Month</h4>
        <strong>🡪</strong>
      </div>
      <input class="input m-input" type="month" name="month"  [(ngModel)]="month" (change)="searchSpecefic()">
      <!-- <button type="button" (click)="searchSpecefic()" style="margin-left:20px" class=" dark">Submit</button> -->
    </div>

    <app-spend  [spends]="spendsToRender" ></app-spend>
    <hr>
    <span>Total: ₹{{total}}</span>
    <hr>
    
 </form>
