<div class="comp">
    <!--  rendering pending loans -->
    <div>{{name}}</div>
    <div *ngFor="let loan of loans" class="expander">
        <div><!--add conditions to this tag based on the filter selection-->
            <div class="flex flex-space-between">
                <span><h4><strong>{{loan.name}}</strong></h4></span>
                <span>{{loan.reason}}</span>
            </div>

            <div class="flex flex-space-between">
                <span>on {{loan.date}}</span>
                <span *ngIf="!loan.type" [style]="{color:'red'}">FROM</span>
                <span *ngIf="loan.type" [style]="{color:'green'}">TO</span>
                <span class="pointer" *ngIf="!loan.status" (click)="changeLoanStatus(loan.id)">❌</span>
                <span class="pointer" *ngIf="loan.status" (click)="changeLoanStatus(loan.id)">✅</span>
            </div>
            <div class="flex flex-space-between">
                <span>Total: ₹ {{loan.totalAmount}}</span>
                <span class="pointer" (click)="emitEditLoanEvent(loan)">Pending: ₹ {{loan.pendingAmount}}</span>
            </div>
            <div class="collapsible">
                <div *ngFor="let loanTransaction of loan.loanHistory" class="lh-grid-containe">
                    <div class="lh-grid-container">
                        <span class="grid-item-1">{{loanTransaction.date  | date:'shortDate'}}</span>
                        <span class="grid-item-2">{{loanTransaction.type}}</span>
                        <span class="grid-item-3">₹{{loanTransaction.amount | number}}</span>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
