<div>
    <div>
        <div class="flex flex-space-between">
            <span>Username<span class="required">*</span></span>
            <input class="input" type="text" placeholder="who are you">
        </div>
        <div class="flex flex-space-between">
            <span>Password<span class="required">*</span></span>
            <input class="input" type="text" placeholder="set password">
        </div>
        <div class="flex flex-space-between">
            <span>Once More<span class="required">*</span></span>
            <input class="input" type="text" placeholder="confirm password">
        </div>
    </div>
    <div class="flex flex-space-around">
        <button class="dark">Submit</button>
        <button class="light" routerLink="/welcome" (click)="cancel()">Cancel</button>
    </div>
</div>