<form  class="comp" #addexpform>
    <div>Your monthly limit is {{monthlyLimit}}. You already spent {{monthlySpent}}. Balance {{monthlyLimit-monthlySpent}}</div>
    
    <div class="flex flex-space-between">
      <span>Category</span>
      <input 
        class="input m-input" 
        type="text" list="categories" 
        name="Heading" 
        placeholder="Main category of spends" 
        [(ngModel)]="spendAdd.category.heading"
        (input)="checkToShowSaveCategory()">
      <datalist id="categories">
        <option *ngFor="let category of categories">{{category.heading}}</option>
      </datalist>
    </div>
    <div *ngIf="showSaveCategory">
      <span>Save Category..?</span>
      <input type="checkbox" name="saveCategory" [(ngModel)]="saveCategory">
    </div>
<!--  -->
    <div>
    <div class="flex flex-space-between">
      <span>Purpose</span>
      <input class="input m-input" type="text" name="Purpose" placeholder="On what you spent.?" [(ngModel)]="spendAdd.purpose">
    </div>
    
    <div class="flex flex-space-between">
      <span>Money</span>
      <input class="input m-input" type="number" name="money" placeholder="how much.?" [(ngModel)]="spendAdd.money">
    </div>
    
    <div class="flex flex-space-between">
      <span> On others</span>
      <input class="input m-input" type="number" name="forOthers" placeholder="how much.?" [(ngModel)]="spendAdd.forOthers">
    </div>
    
    <div class="flex flex-space-between">
      <span>Date</span>
      <input class="input m-input" type="date" name="date" placeholder="when.?" [(ngModel)]="spendAdd.date">
    </div>
  </div>
  <!--  -->
    <div *ngIf = "isLoading && !isError" class = "flex flex-row-center">
      <loading></loading>
    </div>
    <div class="flex flex-space-around">
      <button #addReset type="reset" class="light">Reset</button>
      <button #addSubmit type="button" class="dark" (click)="addSpend()" >Submit</button>
    </div>

  </form>