.grid-container-amount {
    display: grid;
    grid-template-columns: 50% 50%;
}
.grid-container {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
}
.amount {
    text-align: right;
    margin: 0 7px 0 0;
}