<form>
    
        <div class="flex flex-space-around">
            <span>
                <input type="radio" name="type" [(ngModel)]="loan.type" [value]="false">
                <span>Taken</span>
            </span>
            <span>
                <input type="radio" name="type" [(ngModel)]="loan.type" [value]="true">
                <span>Given</span>
            </span>
        </div>

        <div class="flex flex-space-between">
            <span>To Whom</span>
            <input class="input s-input" type="text" name="loan-to" placeholder="To / From" [(ngModel)]="loan.name">
        </div>
        <div class="flex flex-space-between">
            <span>Total Amount</span>
            <input class="input s-input" type="number" name="amount" placeholder="How much.?" [(ngModel)]="loan.totalAmount">
        </div>
        <div class="flex flex-space-between">
            <span>When</span>
            <input class="input s-input" type="date" name="when" placeholder="When.?" [(ngModel)]="loan.date">
        </div>
        <div class="flex flex-space-between">
            <span>Any reason.?</span>
            <input class="input s-input" type="text" name="why" placeholder="Reason" [(ngModel)]="loan.reason">
        </div>

    <div class="flex flex-space-around">
        <button type="reset" class=" light">Reset</button>
        <button  type="button" class=" dark" (click)="addLoan()" >Submit</button>
    </div>
</form>