<form class="comp">
    <table>
        <tr>
            <td colspan="2"><input type="radio" name="type" [(ngModel)]="loan.type" [value]="false">
            Taken</td>
        </tr>
        <tr>
            <td colspan="2"><input type="radio" name="type" [(ngModel)]="loan.type" [value]="true">
            Given</td>
        </tr>
        <tr>
            <td>To Whom</td>
            <td><input class="s-input" type="text" name="loan-to" placeholder="To / From" [(ngModel)]="loan.name"></td>
        </tr>
        <tr>
            <td>Total Amount</td>
            <td><input class="s-input" type="number" name="amount" placeholder="How much.?" [(ngModel)]="loan.totalAmount"></td>
        </tr>
        <tr>
            <td>When</td>
            <td><input class="s-input" type="date" name="when" placeholder="When.?" [(ngModel)]="loan.date"></td>
        </tr>
        <tr>
            <td>Any reason.?</td>
            <td><input class="s-input" type="text" name="why" placeholder="Reason" [(ngModel)]="loan.reason"></td>
        </tr>
    </table>
    <div class="flex flex-space-around">
        <button type="reset" class=" light">Reset</button>
        <button  type="button" class=" dark" (click)="addLoan()" >Submit</button>
    </div>
</form>