/* You can add global styles to this file, and also import other style files */
body{
    background-color: #CFD8DC;
    color: black;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    max-width: 450px;
    margin: auto;
}
app-root{
    width: 95%;
    display: flex;
    justify-content: center;
}
div{
    margin:1px;
}
button{
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
}
.input{
    border: 2px solid black;
    border-bottom: 2px grey solid;
    border-right: 2px grey solid;
    border-radius: 9px;
    margin: 4px 4px 4px 4px;
    padding: 3px;
}
.long-input{
    width: 80%;
}
.m-input{
    width: 70%;
}
.s-input{
    width: 50%;
}
h1, h2, h3, h4, h5, h6{
    margin: 4px 0px 4px 0px;
}
.flex{
    display: flex;
}
.flex-down{
    flex-direction: column;
}
.flex-row-center{
    justify-content: center;
}
.flex-space-around{
    justify-content: space-around;
}
.flex-space-between{
    justify-content: space-between;
}
.flex-right{
    justify-content: flex-end;
}
.flex-left{
    justify-content: flex-start;
}
.flex-vertical-center{
    align-items: center;
}
hr{
    margin: 3px;
    opacity: 1;
    color: #93aebb;
    border-top: 1px #93aebb solid;
    border-bottom: 1px #93aebb dotted;
}

.light{
    background-color: #f0f0f0;
}
button.light:active{
    background-color: grey;
}
.dark{
    background-color: #3c3c3c;
    color: white;
}
button.dark:active{
    background-color: #000000;
}
.active{
    background-color: red;
}
.full-h-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.full-h{
    width: 90%;
    background-color: #93aebb;
    border-color: #90A4AE;
  }
.pointer{
    cursor: pointer;
}