<div>
    <div class="flex flex-space-between">
        <input class="input m-input" placeholder="What to do ..?" [(ngModel)]="todoToAdd.description" (keyup)="saveTodoOnEnter($event)">
        <button class="dark" (click)="addToDo()">Let's Do</button>
    </div>
    <div *ngFor="let todo of pendingToDoList">
        <input type="checkbox" class="input" value="true" (click)="markTodoAsComplete(todo.id)" [checked]=0>
        <span></span>
        <span class="yet todo ">{{todo.description}}</span>
    </div>
    <div class="flex flex-vertical-center" *ngFor="let todo of completedToDoList" id="todo-holder">
            <input type="checkbox" class="input" value="true" checked disabled>
            <span class="done todo">{{todo.description}}</span>
    </div>
</div>